<h3>Post details:</h3>
<p>
	<%= @post.content %>
	<br /><br />
	<span style="font-size: 75%; color: #999">Added at <%= @post.created_at %> by <b><%= @post.user %></b></span>
</p>
<hr />
<h4>Comments:</h4>
<br />
<p>
	<% @comments.each do |comment| %>
		<%= comment.content %>
		<br />
		<span style="font-size: 75%; color: #999">Added at <%= comment.created_at %> by <b><%= comment.user %></b></span>
		<hr />
	<% end %>
</p>
<form action="/post/<%= @post.id %>" method="POST" role="form">
	<textarea name="comment[content]" class="form-control" rows="3" placeholder="ничего так не радует, как хороший комментарий..."></textarea>
	<br />
	<label for="username">Username:</label>
	<input name="comment[user]"></input>
</form>